body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

#roleSelection, #lightControls, #lightStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.light.on.green {
    background-color: #4CAF50; /* Groen */
}

.light.on.red {
    background-color: #F44336; /* Rood */
}
